In [22]:
d1={
    "Nombre": "Carolina",
    "Edad": 26,
    "Documento": 1004671669
}
print(d1)

{'Nombre': 'Carolina', 'Edad': 26, 'Documento': 1004671669}

In [23]:
d2 = dict([
    ("Nombre", "Carolina"),
    ("Edad", 26),
    ("Documento", 1004671669)
])
print(d2)

{'Nombre': 'Carolina', 'Edad': 26, 'Documento': 1004671669}

In [24]:
d3 = dict(Nombre = "Carolina",
          Edad = 26,
          Documento = 1004671669)
print(d3)

{'Nombre': 'Carolina', 'Edad': 26, 'Documento': 1004671669}

In [25]:
print(d1["Nombre"])
print(d1.get("Nombre"))
print(d1["Edad"])
print(d1.get("Edad"))
print(d1["Documento"])
print(d1.get("Documento"))

Carolina
Carolina
26
26
1004671669
1004671669

In [26]:
d1["Nombre"] = "Laura"
print(d1)

{'Nombre': 'Laura', 'Edad': 26, 'Documento': 1004671669}

In [27]:
d1["Direccion"] = "Calle 123"
print(d1)

{'Nombre': 'Laura', 'Edad': 26, 'Documento': 1004671669, 'Direccion': 'Calle 123'}

In [28]:
for x in d1:
    print(x)

Nombre
Edad
Documento
Direccion

In [29]:
for x in d1:
    print(d1[x])

Laura
26
1004671669
Calle 123

In [30]:
for x, y in d1.items():
    print(x, y)

Nombre Laura
Edad 26
Documento 1004671669
Direccion Calle 123

In [35]:
anidado1 ={"a": 1, "b": 2}
anidado2 ={"a": 1, "b": 2}

d = {
    "anidado1" : anidado1,
    "anidado2" : anidado2
}

print(d)

{'anidado1': {'a': 1, 'b': 2}, 'anidado2': {'a': 1, 'b': 2}}

In [36]:
d = {"a":1, "b":2}

d.clear()

print(d)

{}

In [39]:
d = {"a": 1, "b": 2}
print(d.get("a"))
print(d.get("c"))

1
None

In [42]:
d = {"a": 1,"b": 2}
it = d.items()
print(it)
print(list(it))
print(list(it)[0][0])

dict_items([('a', 1), ('b', 2)])
[('a', 1), ('b', 2)]
a

In [44]:
d = {"a": 1, "b": 2}
print(d.keys())
print(list(d.keys()))

dict_keys(['a', 'b'])
['a', 'b']

In [45]:
d = {"a": 1, "b": 2}
print(list(d.values()))

[1, 2]

In [46]:
d = {"a": 1, "b": 2}
d.pop("a")
print(d)

{'b': 2}

In [47]:
d = {"a": 1, "b": 2}
d.pop("c", 1)
print(d)

{'a': 1, 'b': 2}

In [49]:
d = {"a":1, "b":2}
d.popitem()
print(d)

{'a': 1}

In [50]:
d1 = {"a":1, "b":2}
d2 = {"c":0, "d":400}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 0, 'd': 400}