In [4]:
mi_tupla = (1,2,3,"hola", True)

print(mi_tupla)

(1, 2, 3, 'hola', True)

In [5]:
t = (1,1,2,3,3,3)
print(t)

(1, 1, 2, 3, 3, 3)

In [7]:
lista = [1,2,3]
lista[0] = 10

print(lista)

[10, 2, 3]

In [6]:
tupla=(1,2,3)
tupla[0] = 10

print(tupla)

TypeError: 'tuple' object does not support item assignment

In [8]:
cordenadas = (20.7128, -74.0060)

cordenadas[0] = 41.1

TypeError: 'tuple' object does not support item assignment

In [9]:
tupla = (1,2,3)
tupla2 = ("a","b","c")
tupla3 = (1,"hola", 3, 5)
tupla4 = ()
tupla5 = (5,)

print(tupla)
print(tupla2)
print(tupla3)
print(tupla4)
print(tupla5)

(1, 2, 3)
('a', 'b', 'c')
(1, 'hola', 3, 5)
()
(5,)

In [10]:
tupla = ("python", 2025, True)

print(tupla[0])
print(tupla[1])
print(tupla[-1])

python
2025
True

In [11]:
tupla = (10,20,30,40,50)

print(tupla[1:4])
print(tupla[:3])
print(tupla[::2])

(20, 30, 40)
(10, 20, 30)
(10, 30, 50)

In [12]:
colores = ("rojo", "verde", "azul")

for color in colores:
    print(color)

rojo
verde
azul

In [13]:
t = ((1,2),(3,4),(5,6))

print(t[0])
print(t[0][1])

(1, 2)
2

In [14]:
t1 =(1,2,3)
t2 =(4,5,6)

resultado = t1 + t2

print(resultado)

(1, 2, 3, 4, 5, 6)

In [16]:
t1 = ("python",) *3

print(t1)

('python', 'python', 'python')

In [17]:
t = (10,20,30,40)

print(20 in t)
print(5 not in t)

True
True

In [18]:
persona = ("nicolas", 22, "colombia")
nombre, edad, pais= persona

print(nombre)
print(edad)
print(pais)

nicolas
22
colombia

In [19]:
t = (1,2,2,3,4,5)

print(t.count(2))
print(t.index(3))

2
3

In [20]:
t = (5,1,7,3)

print(len(t))
print(max(t))
print(min(t))
print(sum(t))
print(sorted(t))

4
7
1
16
[1, 3, 5, 7]

In [21]:
lista = [1,2,3]
tupla = tuple(lista)

print(tupla)

nueva_lista = list(tupla)

print(nueva_lista)

(1, 2, 3)
[1, 2, 3]

In [23]:
persona = ("Nicolas",22,"Colombia")

print("Nombre:",persona[0])
print("Edad:",persona[1])
print("Pais:",persona[2])

Nombre: Nicolas
Edad: 22
Pais: Colombia

In [24]:
cordenadas = {}
punto = (10,20)
cordenadas[punto] = "Ubicacion A"

print(cordenadas)

{(10, 20): 'Ubicacion A'}

In [27]:
def operacion (a,b):
  return a + b, a - b, a * b

suma,resta,producto = operacion(5,3)
print(suma,resta,producto)

8 2 15

In [28]:
frutas = ("manzana", "banana", "cereza")

for i, fruta in enumerate(frutas):
  print(i, fruta)

0 manzana
1 banana
2 cereza

In [29]:
a, b = 10,20
a, b = b, a

print(a,b)

20 10

In [30]:
# Ejercicio 1 – Crear una tupla
t = (1, 2, 3, 4, 5)
print(t) # (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [31]:
# Ejercicio 2 – Acceder al tercer elemento
t = (10, 20, 30, 40, 50)
print(t[2]) # 30

30

In [32]:
# Ejercicio 3 – Tupla con nombre y edad
info = ("Nicolás", 22)
print("Nombre:", info[0], "Edad:", info[1])

Nombre: Nicolás Edad: 22

In [33]:
# Ejercicio 4 – Concatenar tuplas
t1 = (1, 2, 3)
t2 = (4, 5, 6)
print(t1 + t2) # (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [34]:
# Ejercicio 5 – Repetir una tupla
t = ("Python",) * 3
print(t) # ('Python', 'Python', 'Python')

('Python', 'Python', 'Python')

In [37]:
# Ejercicio 6 – Verificar pertenencia
t = (5, 10, 15, 20, 25)
print(20 in t) # True

True
Colombia México Argentina
4
(8, 15)
9 7

In [45]:
# Ejercicio 7 – Desempaquetar tupla
paises = ("Colombia", "México", "Argentina")
a, b, c = paises
print(a, b, c) # Colombia México Argentina

Colombia México Argentina

In [44]:
# Ejercicio 8 – Tupla anidada
t = ((1, 2), (3, 4))
print(t[1][1]) # 4

4

In [43]:
# Ejercicio 9 – Función con suma y producto
def operaciones(a, b):
    return a+b, a*b
print(operaciones(3, 5)) # (8, 15)

(8, 15)

In [42]:
# Ejercicio 10 – Intercambio de valores
a, b = 7, 9
a, b = b, a
print(a, b) # 9 7

9 7

In [35]:
# Ejercicio 11 – Contar apariciones
t = (2, 4, 6, 2, 8, 2)
print(t.count(2)) # 3

3
4
9
1
24

In [41]:
# Ejercicio 12 – Índice de un valor
t = (10, 20, 30, 40, 50)
print(t.index(50)) # 4

4

In [40]:
# Ejercicio 13 – Funciones integradas
t = (4, 7, 1, 9, 3)
print(max(t)) # 9
print(min(t)) # 1
print(sum(t)) # 24

9
1
24

In [39]:
# Ejercicio 14 – Convertir lista a tupla
lista = [10, 20, 30]
t = tuple(lista)
print(t) # (10, 20, 30)

(10, 20, 30)

In [38]:
# Ejercicio 15 – Enumerate con tuplas
colores = ("rojo", "verde", "azul")
for i, color in enumerate(colores):
    print(i, color)

0 rojo
1 verde
2 azul