In [47]:
# 1. Crear un set a partir de una lista con elementos repetidos
s = set([5,4,6,8,8,1])   # Los sets eliminan duplicados automáticamente
print(s)                 # Muestra el conjunto sin duplicados
print(type(s))           # <class 'set'>

{1, 4, 5, 6, 8}
<class 'set'>

In [48]:
# 2. Crear un set directamente con llaves {}
s = {5,4,6,8,8,1}        # Repite el 8 y el 1, pero el set los elimina
print(s)
print(type(s))

{1, 4, 5, 6, 8}
<class 'set'>

In [49]:
# 3. ❌ ERROR: Los sets no permiten indexación
s = set([5,4,6,8,8,1])
s[0] = 3   # ERROR: 'set' object does not support item assignment

TypeError: 'set' object does not support item assignment

In [50]:
# 4. ❌ ERROR: No se puede meter una lista dentro de un set (las listas no son hashables)
Lista = ["Peru","Argentina"]
s = set(["mexico","España", Lista])  # ERROR: unhashable type: 'list'

TypeError: unhashable type: 'list'

In [51]:
# 5. Uso de listas y append()
Lista = ["Peru","Argentina"]
Lista.append("Mexico")   # Agrega un elemento al final
Lista.append("España")
print(Lista)             # ['Peru', 'Argentina', 'Mexico', 'España']

['Peru', 'Argentina', 'Mexico', 'España']

In [52]:
# 6. Recorrer un set con un for
s = {5,6,7,8}
for ss in s:
  print(ss)              # Muestra los elementos (el orden no está garantizado)

8
5
6
7

In [53]:
# 7. Los sets eliminan duplicados automáticamente
s = {2,2,2,4,4,4,2,6,6,6,7}
print(len(s))            # 3 (elementos únicos: 2,4,6,7 → en total 4 elementos)
print(type(s))

4
<class 'set'>

In [54]:
# 8. Verificar si un elemento existe en el set
s = {"hello","hola","bye","adios"}
print("hello" in s)      # True

True

In [55]:
# 9. Verificar si un elemento NO está en el set
s = {"hello","hola","bye","adios"}
print("chao" in s)       # False

False

In [56]:
# 10. Unión de dos sets con operador |
s1 = {1,2,3}
s2 = {3,4,5}
print(s1 | s2)           # {1,2,3,4,5}

{1, 2, 3, 4, 5}

In [57]:
# 11. Agregar un elemento al set
s = {1,2}
s.add(3)
print(s)                 # {1,2,3}

{1, 2, 3}

In [58]:
# 12. Eliminar un elemento existente con remove()
s = {1,2,3}
s.remove(3)
print(s)                 # {1,2}

{1, 2}

In [59]:
# 13. ❌ ERROR: remove() de un elemento que no existe da error
s = {1,2,3}
s.remove(4)              # KeyError: 4

KeyError: 4

In [60]:
# 14. discard() elimina un elemento si existe, pero no da error si no está
s = {1,2,3}
s.discard(4)             # No pasa nada
print(s)                 # {1,2,3}

{1, 2, 3}

In [61]:
# 15. pop() elimina un elemento aleatorio del set
s = {1,2,3}
s.pop()
print(s)                 # Puede quedar {2,3} o {1,3} según cuál elimine

{2, 3}

In [62]:

# 16. clear() elimina todos los elementos del set
s = {1,2,3}
s.clear()
print(s)                 # set()

set()

In [63]:

# 17. Unión de sets con .union()
s1 = {1,2,3}
s2 = {3,4,5}
print(s1.union(s2))      # {1,2,3,4,5}

{1, 2, 3, 4, 5}

In [64]:

# 18. Intersección de sets
s1 = {1,2,3}
s2 = {3,4,5}
print(s1.intersection(s2))  # {3}

{3}

In [65]:
# 19. Ejemplo más completo
fronted = {"html","css","javascript"}
backend = {"sql","javascript","python","django"}

fronted.add("vue.js")          # Agregar un elemento al set
backend.remove("django")       # Eliminar un elemento existente

print("fronted: ",fronted)
print("backend: ",backend)
print("union Fronted y Backend: ",fronted.union(backend))
print("Interseccion Fronted y Backend: ",fronted.intersection(backend))

fronted:  {'vue.js', 'javascript', 'html', 'css'}
backend:  {'javascript', 'python', 'sql'}
union Fronted y Backend:  {'css', 'sql', 'vue.js', 'javascript', 'python', 'html'}
Interseccion Fronted y Backend:  {'javascript'}